<!DOCTYPE HTML>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
	<script>
		$(function(){
			var socket = io.connect("/event");
			socket.on('connect', function (e) {
				 $('body').append('<p>socket be created');
			})
			
			socket.on('keyEvent', function (e) {
				 $('body').append(e.key);
			})
      		var text1 ="<p>Button1 be click";
      		var text2 ="<p>Button2 be click";
 
      		$('#send1').click(function(){socket.emit("keyEvent", {'key': text1});})
      		$('#send2').click(function(){socket.emit("keyEvent", {'key': text2});})
		})
	</script>
</head>
<body>
	<button id='send1' vlaues = "send">button1</button>
	<button id='send2' vlaues = "send">button2</button>
</body>
</html>